@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li a="@Url.Action("Index", "Customer")" class="dropdown-item">câu 1</li>
        <li a="@Url.Action("Index", "Parts")" class="dropdown-item">câu 2</li>
        <li a="@Url.Action("", "Home")" class="dropdown-item">câu 3</li>
    </ul>
</div>
